@import "tailwindcss";

@theme {
  --color-pyah-licht: #ebe3e0;
  --color-pyah-zacht: #d4baad;
  --color-pyah-accent: #a66658;
  --color-pyah-donker: #484f47;
  --color-pyah-diep: #260f09;

  --font-sans: var(--font-lato);
  --font-heading: var(--font-arsenica);
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #484f47;
  }

  body {
    background: var(--background);
    color: var(--foreground);
  }

  h1, h2, h3 {
    font-family: "arsenica-variable", serif;
  }

  ul {
    list-style: disc;
    padding-left: 1.5rem;
  }

  ul li {
    margin-bottom: 0.5rem;
  }

  blockquote {
    border: none;
    margin: 0;
    padding: 0;
  }
}
